<!-- 数据展示区 -->
<table
	class="table table-bordered table-striped table-hover table_center table_th_center font12 ">
	<thead>
		<tr>
			<th>角色编码</th>
			<th>角色名称</th>
			<th>角色描述</th>
			<th>展示顺序</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="obj : ${pageInfo.list}">
			<td th:text="${obj.roleId}"></td>
			<td th:text="${obj.roleName}"></td>
			<td th:text="${obj.roleDesc}"></td>
			<td th:text="${obj.roleOrder}"></td>
			<td class="linkBlue2"><a href="javaScript:;"
				th:onclick="'javascript:roleManage.confirmUpdateStatus('+${obj.roleId}+',\'1\');'">生效</a></td>
		</tr>
	</tbody>
</table>
<div class="overflow-hidden clearfix">
	<!-- 分页 -->
	<div class="pagerBar">
		<script>
			function pagerClick(index) {
				roleManage.initDataList(index,10);
			}
		</script>
		<div th:include="~{admin/common/pager :: pager}"></div>
	</div>
	<!-- pagerBar end-->
</div>