<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.portalhome.dao.mapper.TArticleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ai.portalhome.dao.model.TArticleInfo" >
    <id column="art_id" property="artId" jdbcType="INTEGER" />
    <result column="art_name" property="artName" jdbcType="VARCHAR" />
    <result column="art_desc" property="artDesc" jdbcType="VARCHAR" />
    <result column="art_url" property="artUrl" jdbcType="VARCHAR" />
    <result column="art_class" property="artClass" jdbcType="VARCHAR" />
    <result column="art_source" property="artSource" jdbcType="VARCHAR" />
    <result column="art_label" property="artLabel" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    art_id, art_name, art_desc, art_url, art_class, art_source, art_label, status, create_user, 
    create_time, update_user, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.portalhome.dao.model.TArticleInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_ARTICLE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_ARTICLE_INFO
    where art_id = #{artId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_ARTICLE_INFO
    where art_id = #{artId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ai.portalhome.dao.model.TArticleInfo" >
    insert into T_ARTICLE_INFO (art_id, art_name, art_desc, 
      art_url, art_class, art_source, 
      art_label, status, create_user, 
      create_time, update_user, update_time
      )
    values (#{artId,jdbcType=INTEGER}, #{artName,jdbcType=VARCHAR}, #{artDesc,jdbcType=VARCHAR}, 
      #{artUrl,jdbcType=VARCHAR}, #{artClass,jdbcType=VARCHAR}, #{artSource,jdbcType=VARCHAR}, 
      #{artLabel,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.portalhome.dao.model.TArticleInfo" >
    insert into T_ARTICLE_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="artId != null" >
        art_id,
      </if>
      <if test="artName != null" >
        art_name,
      </if>
      <if test="artDesc != null" >
        art_desc,
      </if>
      <if test="artUrl != null" >
        art_url,
      </if>
      <if test="artClass != null" >
        art_class,
      </if>
      <if test="artSource != null" >
        art_source,
      </if>
      <if test="artLabel != null" >
        art_label,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="artId != null" >
        #{artId,jdbcType=INTEGER},
      </if>
      <if test="artName != null" >
        #{artName,jdbcType=VARCHAR},
      </if>
      <if test="artDesc != null" >
        #{artDesc,jdbcType=VARCHAR},
      </if>
      <if test="artUrl != null" >
        #{artUrl,jdbcType=VARCHAR},
      </if>
      <if test="artClass != null" >
        #{artClass,jdbcType=VARCHAR},
      </if>
      <if test="artSource != null" >
        #{artSource,jdbcType=VARCHAR},
      </if>
      <if test="artLabel != null" >
        #{artLabel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.portalhome.dao.model.TArticleInfoExample" resultType="java.lang.Integer" >
    select count(*) from T_ARTICLE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_ARTICLE_INFO
    <set >
      <if test="record.artId != null" >
        art_id = #{record.artId,jdbcType=INTEGER},
      </if>
      <if test="record.artName != null" >
        art_name = #{record.artName,jdbcType=VARCHAR},
      </if>
      <if test="record.artDesc != null" >
        art_desc = #{record.artDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.artUrl != null" >
        art_url = #{record.artUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.artClass != null" >
        art_class = #{record.artClass,jdbcType=VARCHAR},
      </if>
      <if test="record.artSource != null" >
        art_source = #{record.artSource,jdbcType=VARCHAR},
      </if>
      <if test="record.artLabel != null" >
        art_label = #{record.artLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_ARTICLE_INFO
    set art_id = #{record.artId,jdbcType=INTEGER},
      art_name = #{record.artName,jdbcType=VARCHAR},
      art_desc = #{record.artDesc,jdbcType=VARCHAR},
      art_url = #{record.artUrl,jdbcType=VARCHAR},
      art_class = #{record.artClass,jdbcType=VARCHAR},
      art_source = #{record.artSource,jdbcType=VARCHAR},
      art_label = #{record.artLabel,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.portalhome.dao.model.TArticleInfo" >
    update T_ARTICLE_INFO
    <set >
      <if test="artName != null" >
        art_name = #{artName,jdbcType=VARCHAR},
      </if>
      <if test="artDesc != null" >
        art_desc = #{artDesc,jdbcType=VARCHAR},
      </if>
      <if test="artUrl != null" >
        art_url = #{artUrl,jdbcType=VARCHAR},
      </if>
      <if test="artClass != null" >
        art_class = #{artClass,jdbcType=VARCHAR},
      </if>
      <if test="artSource != null" >
        art_source = #{artSource,jdbcType=VARCHAR},
      </if>
      <if test="artLabel != null" >
        art_label = #{artLabel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where art_id = #{artId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.portalhome.dao.model.TArticleInfo" >
    update T_ARTICLE_INFO
    set art_name = #{artName,jdbcType=VARCHAR},
      art_desc = #{artDesc,jdbcType=VARCHAR},
      art_url = #{artUrl,jdbcType=VARCHAR},
      art_class = #{artClass,jdbcType=VARCHAR},
      art_source = #{artSource,jdbcType=VARCHAR},
      art_label = #{artLabel,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where art_id = #{artId,jdbcType=INTEGER}
  </update>
</mapper>