<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.portalhome.dao.mapper.TLoMainMapper" >
  <resultMap id="BaseResultMap" type="com.ai.portalhome.dao.model.TLoMain" >
    <id column="ol_id" property="olId" jdbcType="INTEGER" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="ol_name" property="olName" jdbcType="VARCHAR" />
    <result column="ol_desc" property="olDesc" jdbcType="VARCHAR" />
    <result column="ol_type" property="olType" jdbcType="VARCHAR" />
    <result column="if_edit" property="ifEdit" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ol_id, model_id, ol_name, ol_desc, ol_type, if_edit, status, create_user, create_time, 
    update_user, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.portalhome.dao.model.TLoMainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_LO_MAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_LO_MAIN
    where ol_id = #{olId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_LO_MAIN
    where ol_id = #{olId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ai.portalhome.dao.model.TLoMain" >
    insert into T_LO_MAIN (ol_id, model_id, ol_name, 
      ol_desc, ol_type, if_edit, 
      status, create_user, create_time, 
      update_user, update_time)
    values (#{olId,jdbcType=INTEGER}, #{modelId,jdbcType=INTEGER}, #{olName,jdbcType=VARCHAR}, 
      #{olDesc,jdbcType=VARCHAR}, #{olType,jdbcType=VARCHAR}, #{ifEdit,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.portalhome.dao.model.TLoMain" >
    insert into T_LO_MAIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="olId != null" >
        ol_id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="olName != null" >
        ol_name,
      </if>
      <if test="olDesc != null" >
        ol_desc,
      </if>
      <if test="olType != null" >
        ol_type,
      </if>
      <if test="ifEdit != null" >
        if_edit,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="olId != null" >
        #{olId,jdbcType=INTEGER},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="olName != null" >
        #{olName,jdbcType=VARCHAR},
      </if>
      <if test="olDesc != null" >
        #{olDesc,jdbcType=VARCHAR},
      </if>
      <if test="olType != null" >
        #{olType,jdbcType=VARCHAR},
      </if>
      <if test="ifEdit != null" >
        #{ifEdit,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.portalhome.dao.model.TLoMainExample" resultType="java.lang.Integer" >
    select count(*) from T_LO_MAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_LO_MAIN
    <set >
      <if test="record.olId != null" >
        ol_id = #{record.olId,jdbcType=INTEGER},
      </if>
      <if test="record.modelId != null" >
        model_id = #{record.modelId,jdbcType=INTEGER},
      </if>
      <if test="record.olName != null" >
        ol_name = #{record.olName,jdbcType=VARCHAR},
      </if>
      <if test="record.olDesc != null" >
        ol_desc = #{record.olDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.olType != null" >
        ol_type = #{record.olType,jdbcType=VARCHAR},
      </if>
      <if test="record.ifEdit != null" >
        if_edit = #{record.ifEdit,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_LO_MAIN
    set ol_id = #{record.olId,jdbcType=INTEGER},
      model_id = #{record.modelId,jdbcType=INTEGER},
      ol_name = #{record.olName,jdbcType=VARCHAR},
      ol_desc = #{record.olDesc,jdbcType=VARCHAR},
      ol_type = #{record.olType,jdbcType=VARCHAR},
      if_edit = #{record.ifEdit,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.portalhome.dao.model.TLoMain" >
    update T_LO_MAIN
    <set >
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="olName != null" >
        ol_name = #{olName,jdbcType=VARCHAR},
      </if>
      <if test="olDesc != null" >
        ol_desc = #{olDesc,jdbcType=VARCHAR},
      </if>
      <if test="olType != null" >
        ol_type = #{olType,jdbcType=VARCHAR},
      </if>
      <if test="ifEdit != null" >
        if_edit = #{ifEdit,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ol_id = #{olId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.portalhome.dao.model.TLoMain" >
    update T_LO_MAIN
    set model_id = #{modelId,jdbcType=INTEGER},
      ol_name = #{olName,jdbcType=VARCHAR},
      ol_desc = #{olDesc,jdbcType=VARCHAR},
      ol_type = #{olType,jdbcType=VARCHAR},
      if_edit = #{ifEdit,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where ol_id = #{olId,jdbcType=INTEGER}
  </update>
</mapper>