<!-- 数据展示区 -->
<table
	class="table table-bordered table-striped table-hover table_center table_th_center font12 ">
	<thead>
     	<tr>
			<th>单元格分组编码</th>
			<th>单元格分组标题</th>
			<th>单元格分组说明</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="obj : ${pageInfo.list}">
			<td th:text="${obj.groupId}"></td>
			<td th:text="${obj.groupName}"></td>
			<td th:text="${obj.groupDesc}"></td>
			<td class="linkBlue2">
				<a href="javaScript:;"
				th:onclick="'javascript:cellGroupManage.confirmUpdateStatus('+${obj.groupId}+',\'1\');'">生效</a></td>
		</tr>
	</tbody>
</table>
<div class="overflow-hidden clearfix">

	<!-- 分页 -->
	<div class="pagerBar">
		<script>
			function pagerClick(index) {
				cellGroupManage.initDataHisList(index,10);
			}
		</script>
		<div th:include="~{admin/common/pager :: pager}"></div>
	</div>
	<!-- pagerBar end-->
</div>
