<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{stage/common/layout}">
	
<head>



	
	

<style type="text/css">



</style>

</head>
<body>
<div id="base" class=""  layout:fragment="screen_content">
	<!--当前位置-->
    <div th:replace="~{stage/common/location :: location}"></div>
    
<section class="w980 overflow-hidden">
    <!-- 左边 -->
    <aside class="left-aside fl whiteBg">
    <!-- 树形菜单 -->
    <div th:replace="~{stage/xxgk/common/menu :: menu}"></div>
    </aside>
    <!-- 左边 end-->
    
    <!-- 右边 -->
    <div class="main-con fl whiteBg">
        <div class="content-box2">

            <div class="search-form linkBlue mb20 ml20 mt30 clearfix">
                    <input class="search-text fl w330" type="text" placeholder="查询码/手机号码/身份证号码">
                    <button class="search-btn fl">查询</button>
            </div>
            <p class="ml20 color-888 font12">说明：请输入申请人手机号码、身份证号码或查询进行查询</p>
            <div class="query_result overflow-hidden mt30">
                  <h3><span>查询结果</span></h3>
                  <table class="table table-bordered table-striped table-hover table_center table_th_center font12">
                      <thead>
                          <tr>
                              <th>申请类型</th>
                              <th>姓名/名称</th>
                              <th>查询码</th>
                              <th>申请时间</th>
                              <th width="35%">回复内容</th>
                              <th>申请状态</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>公民</td>
                              <td>张三</td>
                              <td>2121212</td>
                              <td>2017/1/2 13:12:23</td>
                              <td>回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回</td>
                              <td>通过</td>
                          </tr>
                          <tr>
                              <td>公民</td>
                              <td>张三</td>
                              <td>2121212</td>
                              <td>2017/1/2 13:12:23</td>
                              <td>回复内容</td>
                              <td>通过</td>
                          </tr>
                          <tr>
                              <td>公民</td>
                              <td>张三</td>
                              <td>2121212</td>
                              <td>2017/1/2 13:12:23</td>
                              <td>回复内容</td>
                              <td>通过</td>
                          </tr>
                          <tr>
                              <td>公民</td>
                              <td>张三</td>
                              <td>2121212</td>
                              <td>2017/1/2 13:12:23</td>
                              <td>回复内容</td>
                              <td>通过</td>
                          </tr>
                          <tr>
                              <td>公民</td>
                              <td>张三</td>
                              <td>2121212</td>
                              <td>2017/1/2 13:12:23</td>
                              <td>回复内容</td>
                              <td>通过</td>
                          </tr>
                          <tr>
                              <td>公民</td>
                              <td>张三</td>
                              <td>2121212</td>
                              <td>2017/1/2 13:12:23</td>
                              <td>回复内容</td>
                              <td>通过</td>
                          </tr>
                          <tr>
                              <td>公民</td>
                              <td>张三</td>
                              <td>2121212</td>
                              <td>2017/1/2 13:12:23</td>
                              <td>回复内容</td>
                              <td>通过</td>
                          </tr>
                          <tr>
                              <td>公民</td>
                              <td>张三</td>
                              <td>2121212</td>
                              <td>2017/1/2 13:12:23</td>
                              <td>回复内容</td>
                              <td>通过</td>
                          </tr>
                          <tr>
                              <td>公民</td>
                              <td>张三</td>
                              <td>2121212</td>
                              <td>2017/1/2 13:12:23</td>
                              <td>回复内容</td>
                              <td>通过</td>
                          </tr>
                          <tr>
                              <td>公民</td>
                              <td>张三</td>
                              <td>2121212</td>
                              <td>2017/1/2 13:12:23</td>
                              <td>回复内容</td>
                              <td>通过</td>
                          </tr>
                      </tbody>
                  </table>

                  <div class="pagerBar"> 
                        <div class="fr ml10 jump">到第
                            <input type="text" value="1">页&nbsp;
                            <button>确定</button>
                        </div>
                        <ul class="pages">
                            <li class="pgNext"> 首页 </li>
                            <li class="pgNext"> 上一页 </li>
                            <li class="page-number"> 1 </li>
                            <li class="page-number current"> 2 </li>
                            <li class="page-number"> 3 </li>
                            <li class="page-number pgCurrent"> 4 </li>
                            <li class="page-number"> 5 </li>
                            <li class="page-number"> 6 </li>
                            <li class="page-number"> 7 </li>
                            <li class="pgNext"> 下一页 </li>
                            <li class="pgNext"> 末页 </li>
                        </ul>
                  </div>
            </div>

        </div>
    </div>
    <!-- 右边 end-->
</section>


</div>
</body>
</html>