<h2>待选角色</h2>
<div class="role_search">
     <table width="100%" border="0" class="table">
       <tbody>
           <tr>
             <td width="20%" class="R">角色名称：</td>
             <td><input type="text" id="roleName_sel" class="form-control per90"></td>
             <td ><button  class="btn btn-default"  onclick="roleUserManage.initDataSelList(1,10);">
             <i class="glyphicon glyphicon-search"></i>查询</button>
             </td>
           </tr>

       </tbody>
     </table>
 </div>
 <table class="table table-bordered table-striped table-hover table_center table_th_center font12 ">
     <thead>
		<tr>
			<th>角色编码</th>
			<th>角色名称</th>
			<th>展示顺序</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="obj : ${pageInfo.list}">
			<td th:text="${obj.roleId}"></td>
			<td th:text="${obj.roleName}"></td>
			<td th:text="${obj.roleOrder}"></td>
			<td class="linkBlue2"><a href="javaScript:;"
				th:onclick="'javascript:roleUserManage.confirmAddStatus('+${obj.roleId}+');'">添加</a></td>
		</tr>
	</tbody>
</table>
<div class="overflow-hidden clearfix">
	<!-- 分页 -->
	<div class="pagerBar">
		<script>
			function pagerClick2(index) {
				roleUserManage.initDataSelList(index,10);
			}
		</script>
		<div th:include="~{admin/roleUser/pager :: pager}"></div>
	</div>
	<!-- pagerBar end-->
</div>