<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>

<head th:fragment="linkDataShow">

   <script type="text/javascript">
        var WEB_ROOT = '[[${#httpServletRequest.contextPath}]]';

    </script>

		
	<link type="text/css" rel="stylesheet" th:href="@{/custom/css/bootstrap.min.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/custom/css/font-awesome.4.6.0.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/custom/dist/gridstack.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/custom/css/default.css}"> 	
		
	<!-- 静态级界面导入的 -->
    <link type="text/css"  rel="stylesheet" th:href="@{/css/bootstrap.min.css?v=${CSS_VERSION}}">
    <link type="text/css"  rel="stylesheet" th:href="@{/css/admin.css?v=${CSS_VERSION}}">	
		
		
		
	
	<!--[if lt IE 9]>
	      <script src="../js/html5shiv.min.js"></script>
	      <script src="../js/respond.min.js"></script>
	    <![endif]-->
	
	<script th:src="@{/custom/js/jquery.1.1min.js?v=${JS_VERSION}}"></script>
	<script th:src="@{/custom/js/jquery-ui.min.js?v=${JS_VERSION}}"></script>
	<script th:src="@{/custom/js/bootstrap.min.js?v=${JS_VERSION}}"></script>
	<script th:src="@{/custom/js/lodash.min.js?v=${JS_VERSION}}"></script>
	<script th:src="@{/custom/dist/gridstack.js?v=${JS_VERSION}}"></script> 
    
    
	<script th:src="@{/js/frameajax/frameajax.js?v=${JS_VERSION}}"></script>
    
    <script th:src="@{/js-busi/admin/common/tab.js?v=${JS_VERSION}}"></script> 
    
</head>


