#set($CONTEXT_PATH = ${request.getContextPath()})
#set($COMPONENT_PATH = ${CONTEXT_PATH}+'/component')
#set($RESOURCE_PATH = ${CONTEXT_PATH}+'/js')
#set($CSS_PATH = ${CONTEXT_PATH}+'/css')
#set($BUSIJS_PATH = ${CONTEXT_PATH}+'/js-busi')
#set($JS_VERSION = "1.1.0")
